<div class="container">
  <div class="row mt-5">
    <div class="col mt-2">
    <br>
    <h3 class="text-center">Des millions de petites annonces et autant d’occasions de se faire plaisir</h3>
    <!--search bar-->
    <form class="bg-light border mt-4">
      <div class="custom-control custom-radio custom-control-inline mt-4 ml-4">
        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline1">Offres</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
       <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
       <label class="custom-control-label" for="customRadioInline2">Demandes</label>
      </div>
      <div class="form-row mt-3 d-flex justify-content-center">
        <div class="form-group col-md-3">
          <select id="inputState" class="form-control">
            <option selected>Catégories</option>
            <option>...</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control" placeholder="Que recherchez-vous?" id="inputZip">
        </div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control" placeholder="Saisissez une ville et un rayon" id="inputZip">
        </div>
      </div>
      <div class="form-group">
      </div>
      <div class="form-group col-md-2 ml-3">
        <button class="btn btn-primary">Prix</button>
      </div>
      <!-- Rounded switch -->
      <div class="form-group col-md-auto ml-3">
        <input type="checkbox" checked data-toggle="toggle">
        <span>Voir également les annonces disponibles en livraison</span>
      </div>
      </form>
    <!--Recherche buttons-->
    <div class="option rounded-pill">
      <button type="button" class="btn btn-primary"><%= link_to "Recherche", products_path, class:"text-white" %></button>
    </div>
    <!-- top card -->
    <h3 class="mt-5">Top catégories</h3>
      <div class="cards">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://ladresse-boutique.com/wp-content/uploads/2022/03/DSC38521.jpg)">
          Vêtements
        </div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.le-dictionnaire.com/vacance-plage.jpg)">
          Vacances
        </div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.etiolles.fr/wp-content/uploads/2018/09/Offre-emploi.jpg)">
          Offres d'emploi
        </div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.mhimmobilier.com/images/maisons.jpg)">
          Ventes immo
        </div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://sf2.autoplus.fr/wp-content/uploads/autoplus/2021/06/mf_3459582.jpg)">
          Voitures
        </div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://static.actu.fr/uploads/2022/04/274060402-4764076660295673-4387799907123603200-njpg-photooks.jpg)">
          Ameublement
        </div>
      </div>
    </div>
  </div>
</div>
